/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-link {
  position: relative;
}
.nav-link.active:before{
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.react-calendar {
  width: 100%!important;
  border: none!important;
}